<div class="fase-c-container">
  <div class="fase-c-header">
    <div class="fase-c-header-left">
      <label class="form--label-with-check-box">
        <input
          type="checkbox"
          class="form--check-box"
          [checked]="data?.hide || false"
          (change)="toggleHide($event)"
          [disabled]="loading"
        />
        <span class="form--check-box-label">{{ getText('fase_c.mark_as_done') }}</span>
      </label>
    </div>
    <div class="fase-c-header-right">
      <h2>{{ getText('fase_c.title') }}</h2>
    </div>
  </div>

  <div *ngIf="loading" class="loading-indicator">
    <span class="loading-indicator--spinner"></span>
  </div>

  <div *ngIf="!loading && data" class="fase-c-form">
    <form>
      <div *ngFor="let field of fields" class="form--field">
        <label class="form--label" [attr.for]="field.key">
          {{ getText(field.label) }}
        </label>
        <div class="form--field-container">
          <input
            type="text"
            class="form--text-field"
            [id]="field.key"
            [(ngModel)]="data[field.key]"
            [name]="field.key"
            maxlength="100"
          />
        </div>
      </div>

      <div class="form--actions">
        <button
          type="button"
          class="button -primary"
          (click)="save()"
          [disabled]="saving"
        >
          <span *ngIf="!saving">{{ getText('fase_c.save') }}</span>
          <span *ngIf="saving" class="loading-indicator--spinner"></span>
        </button>
      </div>

    </form>
  </div>
</div>